{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <!-- About Start -->
        <div class="about" id="about">
            <div class="content-inner">
                <div class="content-header">
                    <h2>About Me</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-5">
                        <img src="{% static "img/about.jpg" %}" alt="Image">
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <p>
                            Passionate about turning digital dreams into reality, I'm Omosegbon I Charles, a sesoned web developer with a knack for crafting exceptional online experiences. With a foundation built on code, creativity, and coffee, I have spent the last few year's immersed in the ever-evolving world of web development.  <br>

                            A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                        </p>
                        <a class="btn" href="#">Hire Me</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="skills">
                            <div class="skill-name">
                                <p>Design</p><p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>SEO</p><p>95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skills">
                            <div class="skill-name">
                                <p>Development</p><p>90%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Marketing</p><p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

    </body>
</html>